@import "../omarchy/current/theme/swayosd.css";

/* Global Styles */
* {
  color: @label;
  border: none;
  border-radius: 14px;
  min-height: 10px;
  font-family: 'Inter Display', 'Symbols Nerd Font Mono', 'iA Writer Mono S', sans-serif;
  font-size: 14pt;
  font-feature-settings: "tnum", "cv05";
}

/* Main OSD Window */
window {
  border-radius: 60px;
  background-color: alpha(@background-color, 0.6); 
  border: 1px solid alpha(@border-color, 0.1);
}

/* Icons */
image {
  color: @image;
  margin-right: 10px;
  -gtk-icon-transform: scale(1.1);
}

/* Progress Bar Container */
progressbar {
  border-radius: 20px;
  background-color: alpha(@label, 0.1);
  padding: 3px;
}