@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'iA Writer Mono S';
  font-size: 16px;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.2;
}

#tray,
#privacy{
  margin-left: 5px;
  margin-right: 22px;
}
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 13px;
}

#bluetooth {
  margin-right: 23px;
}
#network {
  margin-right: 26px;
}
#pulseaudio{
  margin-right: 21px;
}
#cpu {
  margin-right: 21px;
}
#battery{
  margin-right: 9px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 10px;
  margin-right: 4px;
}

#custom-india-clock {
  margin-left: 3px;
  margin-right: 3px;
}

#custom-day-percentage {
  margin-left: 2px;
  margin-left: 2px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
